<form class="mt-3 col-md-2" method="post" action="{{ path('category_delete', {'id': category.id}) }}" onsubmit="return confirm('Etes-vous sûrs de vouloir supprimer cette catégorie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-danger col-md-12">Supprimer</button>
</form>