{% extends 'base.html.twig' %}

{% block title %}WS2 - episodes{% endblock %}

{% block body %}
<div class="container">
    <h1 class="title mt-5 text-center">Modifier l'épisode</h1>

    {{ include('episode/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="flex justify-content-center">
    {{ include('episode/_delete_form.html.twig') }}
    </div>
</div>
<a class="returnLink" href="{{ path('episode_index') }}">Retour à la liste des épisodes</a>
   
{% endblock %}
