<form class="mt-3 col-md-2" method="post" action="{{ path('season_delete', {'id': season.id}) }}" onsubmit="return confirm('Etes vous sûrs de vouloir supprimer cette saison?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ season.id) }}">
    <button class="btn btn-danger col-md-12">supprimer</button>
</form>
