<form class="mt-3 col-md-2" method="post" action="{{ path('program_delete', {'id': program.id}) }}" onsubmit="return confirm('Etes vous sûrs de vouloir supprimer cette série?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
    <button class="btn btn-danger col-md-12">supprimer</button>
</form>