{% extends "base.html.twig" %}
{% block title %}WS2 - nouvelle série{% endblock %}

{% block body %}
<div class="container">
    <h1 class="title mt-5 text-center">Ajouter une série</h1>
  {% include "program/_form.html.twig" %}      
</div>
<div class="returnLink">
    <a href="{{ path('program_index') }}">
       Retour à la liste des Séries
    </a>
 </div>
{% endblock %}