<footer class="flex justify-content-center align-items-center">
    <div class="container flex justify-content-center align-items-center">
            <a href="#">mentions légales </a>
            <span class="mx-4">-</span>
            <a href="#">politique de confidentialité</a>
    </div>
</footer>